text {
  font-family: roboto;
  font-size: 14px;
  fill: #333333;
}
path, line {
  stroke: none;
}
.chart.title {
  font-size: 18px;
  text-anchor: start;
}
.chart.title {
  font-size: 42px;
  text-anchor: start;
}
.x.axis.title {
  font-size: 12px;
  fill: #D3D3D3;
  text-anchor: end;
}
rect {
  fill: #3399CC;
}