text {
  font-family: roboto;
}
path {
  stroke: none;
}
/* .tick line {
  stroke: #D3D3D3;
  stroke-width: .5;
}*/
g.y.axis g.tick text {
  font-size: 14px;
}
g.y.axis g.tick line {
  display: none;
}
g.x.axis g.tick text {
  font-size: 12px;
  fill: #333333;
}
g.x.axis g.tick line {
  stroke-width: 0.25;
  fill: #333333;
}
.chart.title {
  font-size: 18px;
  text-anchor: start;
}
.chart.title {
  font-size: 42px;
  text-anchor: start;
}
.x.axis.title {
  font-size: 12px;
  fill: #D3D3D3;
  text-anchor: end;
}
rect {
  fill: #3399CC;
}