
/* General */
text {
  font-family: roboto;
}

/* Axes */
path {
  stroke: none;
}
.y.axis text {
  font-size: 14px;
}
.y.axis line {
  display: none;
}
.x.axis text {
  font-size: 12px;
  fill: #333333;
}
.x.axis line {
  stroke-width: 1;
  stroke: #D3D3D3;
  shape-rendering: crispEdges;
}

/* Titles */
.chart.subtitle {
  font-size: 16px;
}
.chart.title {
  font-size: 32px;
}
.x.axis.title {
  font-size: 12px;
  fill: #D3D3D3;
  text-anchor: end;
}

/* Shapes */
rect {
  fill: #3399CC;
}
